name: Deploy to Deno Deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: main
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read # Needed to clone the repository

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Build project
        run: |
          cd deno-proxy
          deno cache src/main.ts
          deno check src/main.ts

      - name: Deploy to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: "b4u2cc-proxy"
          entrypoint: "deno-proxy/src/main.ts"
          root: "."